@import "tailwindcss";
@import "tw-animate-css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    transform: none !important;
  }
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-white;
  @apply dark:bg-black;
}

/* globals.css */
/* conturul implicit pus de browser pe elementele focusate (din stylesheet-ul lui default). */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :focus {
    outline: none;
  } /* scoatem UA outline-ul */
}

@layer utilities {
  /* Arată outline DOAR când ultima interacțiune e tastatura */
  html[data-modality="keyboard"]
    :focus-visible:not([role="option"][data-slot="select-item"]) {
    @apply ring-0!;
    outline: 4px solid #d97706 !important;
    outline-offset: 5px !important;
  }

  html[data-modality="pointer"]
    :focus:not([data-filter="property-type"], [data-filter="amenities-type"]),
  html[data-modality="pointer"] :focus-visible {
    outline: none !important;
    box-shadow: none !important; /*  ring */
  }

  button[role="combobox"]:hover:focus {
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-2xl: 1560px;
  /* TEXT ANIMATION */
  --animate-shine: shine 5s linear infinite;
  --animate-main: main 0.8s ease-in forwards;
  @keyframes shine {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  @keyframes main {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* FONT */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* RADIUS */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  /* primary scale */
  --color-primary-50: #fcfcfc;
  --color-primary-100: #f1f1f2;
  --color-primary-200: #e0e0e2;
  --color-primary-300: #c7c7cc;
  --color-primary-400: #a8a8af;
  --color-primary-500: #82828b;
  --color-primary-600: #57575f;
  --color-primary-700: #27272a;
  --color-primary-800: #111113;
  --color-primary-900: #040405;
  --color-primary-950: #000000;

  /* secondary scale */
  --color-secondary-50: #fefcfc;
  --color-secondary-100: #fdf2f2;
  --color-secondary-200: #fae1e1;
  --color-secondary-300: #f6c9c9;
  --color-secondary-400: #f1abab;
  --color-secondary-500: #eb8686;
  --color-secondary-600: #e45a5a;
  --color-secondary-700: #dc2828;
  --color-secondary-800: #7c1414;
  --color-secondary-900: #400a0a;
  --color-secondary-950: #2c0707;
}

:root {
  --radius: 0.5rem;
  --background: #fafafa;
  --foreground: #020817;
  --card: #ffffff;
  --card-foreground: #020817;
  --popover: #ffffff;
  --popover-foreground: #020817;
  --primary: #2563eb;
  --primary-foreground: #f8fafc;
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
  --destructive: #ef4444;
  --destructive-foreground: #f8fafc;
  --border: #e2e8f0;
  --input: #d7dfea;
  --ring: #2563eb;
  --sidebar-background: #fafafa;
  --sidebar-foreground: #3f3f46;
  --sidebar-primary: #18181b;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #3b82f6;
  --chart-1: #f54900;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --sidebar: #fafafa;
}

.dark {
  --radius: 0.5rem;
  --background: #020712;
  --foreground: #f8fafc;
  --card: #020817;
  --card-foreground: #f8fafc;
  --popover: #020817;
  --popover-foreground: #f8fafc;
  --primary: #3b82f6;
  --primary-foreground: #0f172a;
  --secondary: #1e293b;
  --secondary-foreground: #f8fafc;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #1e293b;
  --accent-foreground: #f8fafc;
  --destructive: #7f1d1d;
  --destructive-foreground: #f8fafc;
  --border: #1e293b;
  --input: #19212b;
  --ring: #1d4ed8;
  --sidebar-background: #18181b;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #1d4ed8;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #f4f4f5;
  --sidebar-border: #27272a;
  --sidebar-ring: #3b82f6;
  --chart-1: #1447e6;
  --chart-2: #00bc7d;
  --chart-3: #fe9a00;
  --chart-4: #ad46ff;
  --chart-5: #ff2056;
  --sidebar: #171717;
}

.dashboard-container {
  @apply px-8 pb-5;
}

.mapboxgl-popup-content {
  @apply !bg-primary-700;
  @apply !rounded-lg;
  @apply !py-2;
  @apply !px-3;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply !border-b-primary-700;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  @apply !border-t-primary-700;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  @apply !border-r-primary-700;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  @apply !border-l-primary-700;
}

.marker-popup {
  @apply bg-primary-700;
  @apply text-white;
  @apply p-0;
  @apply m-0;
  @apply !flex;
  @apply justify-between;
  @apply items-center;
  @apply gap-3;
}

.marker-popup-image {
  @apply h-10 w-10 rounded-lg bg-white object-cover;
}

.marker-popup-price {
  @apply text-primary-200 text-sm font-semibold;
}

.marker-popup-title {
  @apply cursor-pointer hover:text-blue-300 hover:underline;
  @apply focus:outline-none;
}

.marker-popup-price-unit {
  @apply text-primary-500 text-xs font-normal;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-200;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-300;
}

.scroll-custom::-webkit-scrollbar {
  width: 5px !important;
}
.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-custom::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}
.scroll-custom::-webkit-scrollbar-thumb:hover {
  @apply transform-gpu cursor-all-scroll bg-slate-700 transition-all duration-300;
}

/* Sonner Toast Styles */
[data-close-button="true"] {
  @apply bg-background border-border text-foreground hover:bg-muted;
}

.nav-blur {
  background: rgba(39, 39, 42, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

.fade-out-hero {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px;
}

.fade-out-features {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -50px;
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: scaleX(0.75);
  }
}

.search-navbar {
  transform-origin: center left;
  animation: scale-search 500ms ease-out forwards;
}
@keyframes scale-search {
  0% {
    opacity: 0;
    transform: scaleX(0.4) translateY(-200%);
  }
  25% {
    opacity: 1;
    transform: scaleX(0.4) translateY(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.hero-image-animation {
  animation: hero-animation linear forwards;
  animation-timeline: view();
  animation-range: exit 250px;
}

@keyframes hero-animation {
  0% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    filter: blur(20px);
  }
}

.signup-layout {
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.81);
}

.bounce-logo {
  transform-origin: center bottom;
  animation: bounce-logo 1500ms ease-in-out infinite;
}

@keyframes bounce-logo {
  0% {
    transform: scaleY(0.75);
  }
  50% {
    transform: scaleY(1) translateY(-20px);
  }
  100% {
    transform: scaleY(0.75) translateY(0px);
  }
}

.auth-button {
  width: 100%;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  margin-top: 10px;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 8px 27px;
  border-radius: 12px;
  font-size: 16px;
  color: white;
  background: hsl(19, 100%, 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.auth-button:hover {
  filter: brightness(110%);
}

.auth-button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.auth-button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.auth-button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.auth-button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.auth-button:focus:not(:focus-visible) {
  outline: none;
}
/* ////////////////////////////////// */

.auth-button:disabled .front {
  background: hsl(19, 95%, 42%);
  transform: translateY(-2px);
  transition: transform 34ms;
}
.auth-button:disabled .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.container-input {
  @apply font-mono;
}
.character-input {
  border: none;
  @apply rounded-md;
}

.character-input--inactive {
  border: none;
  @apply bg-neutral-50 text-slate-400 outline-1 outline-orange-700;
}
.character-input--selected {
  border: none;
  @apply text-slate-800 outline-[4px] outline-orange-500;
}
.character-input--selected {
  @apply text-slate-800;
}
.character-input--filled {
  @apply text-slate-800 outline-[2px] outline-orange-500;
  border: none;
  @apply text-slate-800;
}

.container-input:has(> input:disabled) .character-input {
  @apply text-slate-800 outline-[3px] outline-orange-500;
}

.erorr-animation {
  animation: animate-error 500ms ease forwards;
}

@keyframes animate-error {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 100;
  }
}

.loading-auth {
  animation: loading-auth 2000ms ease infinite;
}

@keyframes loading-auth {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #e5e7eb 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
  transform: translateY(-3px);
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

.skeleton-dashboard {
  animation: dash-ske 750ms ease-in forwards;
}
@keyframes dash-ske {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(15%);
  }
  99% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(-110%);
    visibility: hidden;
  }
}

.animate-loading {
  animation: loading-dashboard 750ms linear infinite;
}

@keyframes loading-dashboard {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.filter-box-shadow:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
